
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .site-container {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 200px; /* Largura da barra lateral */
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .about-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .about-btn:hover {
    background-color: #ff7043;
  }
  
  .contact-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .contact-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form h2 {
    margin-top: 0;
  }

    body {
  transition: background-color 0.3s ease;
}
